 
 html,body{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    font-family: 'Segoe UI', Tahoma,  Verdana, sans-serif;
    color: #505962;
 }


/* ------NAVBAR------ */
.navbar {
    text-transform: uppercase;
    font-weight:bold;
    font-size:.7rem;
    letter-spacing: .1rem;
    
}

/* for the image */
.navbar-brand img {
    height: 4rem;
    width: 160px;
}

.navbar-dark .navbar-nav .nav-link{
    color: white;
    padding-top: .8em;
}

.navbar-dark .navbar-nav .nav-link.active
{ 
    color:#ffffff;
}

.navbar-dark .navbar-nav .nav-link:hover{
    color: tomato;
}


/*--------SLIDER-------- */

/* for the image slider */
.carousel-item{
    height:80vh;
    color:black;
}

.carousel-caption{
    position: absolute;
    top :200px;
    font-weight:bold;
}

.carousel-caption .btn .btn-light:hover{
    background:red;
    color:white;
}

/* --------------------- */

/*-------LESSONS/RENTALS-------- */
.row {
    margin-top: 50px;
 
 }
 .row .col-md-4{
    padding: 40px;
 }
 
 .row .col-md-4 .card-body{
    text-align: center;
    background-color:#f4f8fa;
    
 
 }
 .row .col-md-4 .card-body:hover{
    cursor: pointer;
    background-color:#f4f8fa;
 
    box-shadow: 10px 10px 5px gray;
 }
 .row .col-md-4 .p-3 .font-weight-medium {
 
    font-family: 'Segoe UI', Tahoma,  Verdana, sans-serif;
     
 }.row .col-md-4 .p-3 .subtitle{
    color: #8d97ad;
    line-height: 24px;
}

.list-inline{
    
    text-align: center;
    font-size: 14px;
 }
 
 .row .col-md-4 .p-3 .list-inline .py-1 .fa-check-circle{
 
    color: #ff0000;
 }
 

  


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 1px solid #888;
    width: 80%;
    animation-name: modalopen;
    animation-duration: 1s;

}
.modal-header h5{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.modal-header{
    background-color: red;
    padding: 20px;
    color: white;
}
.modal-body{
    padding: 10px 20px;
}
.myBtn_multi{
    border: none;
    padding: 8px;
    
}
.myBtn_multi:hover{
    color:red;
    cursor: pointer;
     border: none; 
}
.btn:hover{
    color: red;
    cursor: pointer;
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
  @keyframes modalopen{
    from{opacity: 0;}
    to{opacity: 1;}
}
/*------- END OF LESSONS/RENTALS------- */


/*------------ABOUT SECTION---------*/
#about{
    height: 400px;
    color: white;
    position: relative;
    padding-top: 50px;
    
  }

  #about h5{
    text-align: center;
  }
/*------------END OF ABOUT SECTION---------*/

/*----------------CONTACTS FORM---------------- */
  #contacts{
    /* font-family: 'Courier New', Courier, monospace; */
    background-image: url("../images/coral-mzungu.jpg"); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-attachment: fixed;  
    font-weight: bold;
    height: 900px;
    min-height: 100%;
    padding: 30px;
    color:white;

 }
 
 #contacts .row {
    margin-left: 100px;
 }

 #contacts .mb-4 .row .col-md-9 #contact-form .col-md-6 .md-form #name{
     height: 50px;
     border: none;
 }

 #contacts .mb-4 .row .col-md-9 #contact-form .col-md-6 .md-form #email{
    height: 50px;
    border: none;
}
.fa-check-circle{
    color: red;
}

#contacts .mb-4 .row .col-md-9 #contact-form .col-md-12 .md-form #subject{
    height: 50px;
    border: none;
}

 #contacts .col-md-9 .row .col-md-12 .md-form #message{
    height: 120px; 
 }

#contacts .col-md-9 .row .col-md-12 .btn-primary{
    margin-top: 20px;
}
 
/*----------------END OF CONTACTS FORM---------------- */


/* ----------------GEOlOCATION SECTION---------------- */
 #googleMap{
    width:100%;
    height:600px;
}
/* ----------------END OF GEOLOCATION SECTION---------------- */


/*------------FOOTER SECTION---------*/
#footer{
    background-color:#343a40;
    color: white;
    height: 60px;
    text-align: center;
  }
#footer .row .col-md-12{
    margin-top: auto;
}

 #footer #footer-text{
    position: relative;
    text-align: center;
    font-weight: bold;
    color: black;
  }

.footer-copyright{
    background-color:black;
    height: 60px;
}

 .footer-copyright p{
    font-size: small;
    padding-top: 20px;
    text-align: center;

}

/*------------END OF FOOTER SECTION---------*/


/*-------------------MEDIA QUERIES----------------*/

/*---------------TABLET MAX-WIDTH 768px-------------------*/
@media only screen and (max-width: 768px){
    .navbar{
        font-size: .7rem;
    }

    /* ---------slider-----------*/
    /* for the image slider */
    .carousel-item{
        height:60vh;
          }
     
        .carousel-caption{
            position: absolute;
            font-weight:bold;
            top:80px;
        }
     
        .carousel-caption h1{
            font-size: medium;
        }
     
        .carousel-caption h4{
            font-size: medium;
        }
     
        .carousel-caption a {
            font-size: medium;
        }

    /*----------modal-----------------*/
     #lessons .mb-4 h4{
         font-size: medium;
     }

     #lessons .mb-4 .row{
         font-size: small;
     }

     #lessons .mb-4 .row h5{
        font-size: small;
    }




    /*----------About Us Section--------*/
    #about{
        height: 400px;
        color: white;
        position: relative;
        padding-top: 25px;
        
      }
    
    #about h5{
       font-size: medium;
       }

    /*------------contacts section-----------*/
    #contacts{
        font-size: medium;
        height: 400px;
    }
 
    #contacts h2{
        font-size: 30px;
    }
    #contacts .row{
        margin: 0px;
    }

     #contacts .mb-4 .row .col-md-9 #contact-form .col-md-6 .md-form #name{
        margin-top: 20px;
        
     }
    
     #contacts .mb-4 .row .col-md-9 #contact-form .col-md-6 .md-form #email{
        margin-top: 20px;
       
    }
    
    #contacts .mb-4 .row .col-md-9 #contact-form .col-md-12 .md-form #subject{
        margin-top: 20px;
       
    }
    
     #contacts .col-md-9 .row .col-md-12 .md-form #message{
        margin-top: 20px;
        
     }
    
    #contacts .col-md-9 .row .col-md-12 .btn-primary{
        margin-top: 20px;
        margin-left: 70px;

    }

    /*--------------footer-----------------*/
    .container{
    font-size: medium;
    }

    /*--------------copyright-----------------*/
    .footer-copyright{
    font-size: medium;
}
 
}
 

/* ---------PHONE MAX-WIDTH 480px------------ */
@media only screen and (max-width: 480px){
    .navbar{
        font-size: .7rem;
    }
 
    /* ---------slider-----------*/
    /* for the image slider */
    .carousel-item{
    height:50vh;
      }
 
    .carousel-caption{
        position: absolute;
        font-weight:bold;
        top:100px;
    }
 
    .carousel-caption h1{
        font-size: small;
    }
 
    .carousel-caption h3{
        font-size: small;
    }
 
    .carousel-caption a {
        font-size: small;
    }

   

    /*------- About Us Section--------*/
    #about{
        height: 800px;
        color: white;
        position: relative;
        padding-top: 15px;
        
      }
    
      #about h3{
      font-size: small;
      }

    /*------- contact form-------- */
    #contacts{
        font-size: small;
    }
 
    #contacts h2{
        font-size: 25px;
    }
    #contacts .row{
        margin: 0px 0px 0px 0px;
        
    }

     #contacts .mb-4 .row .col-md-9 #contact-form .col-md-6 .md-form #name{
        margin-top: 20px;
        margin-left: 0px;

     }
    
     #contacts .mb-4 .row .col-md-9 #contact-form .col-md-6 .md-form #email{
        margin-top: 20px;
        margin-left: 0px;

    }
    
    #contacts .mb-4 .row .col-md-9 #contact-form .col-md-12 .md-form #subject{
        margin-top: 20px;
        margin-left: 0px;

    }
    
     #contacts .col-md-9 .row .col-md-12 .md-form #message{
        margin-top: 20px;
        margin-left: 0px;

     }
    
    #contacts .col-md-9 .row .col-md-12 .btn-primary{
        margin-top: 20px;
        width: 100px;
        margin-left: 0px;

    }
 }
 
/*--------------footer-----------------*/
.container{
    font-size: small;
    }

/*--------------copyright-----------------*/
.footer-copyright{
    font-size: small;
}
 