 /*
 this is a bad habit, its just for us to see the color codes.
    color codes

    white:#ffffff;
    blood-red:#d71d1d;
    bright-red: #ff0000;
    dark-red:#BF0000;
    black:#000000;
    grey:#ebebeb;
 */

.wrap{
     /* makes sure all the content stays in the browser window */
    overflow-x: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #505962;

}

/* ------NAVBAR------ */
.navbar {
    text-transform: uppercase;
    font-weight:bold;
    font-size:.9rem;
    letter-spacing: .1rem;
    /* emphasis the transparency */
     /* background:rgba(0,0,0,.6)!important;  */
}


/* for the image */
.navbar-brand img {
    height: 2rem;
    width: 150px;
}

/* for the unorderd list */
/* .navbar-nav li{
    padding-right: 7rem;
} */

/* overrides the link colors */

.navbar-dark .navbar-nav .nav-link{
    color: white;
    padding-top: .8em;
}

.navbar-dark .navbar-nav .nav-link.active
{ 
    color:#ffffff;
}

.navbar-dark .navbar-nav .nav-link:hover{
    color: tomato;
}


/*--------SLIDER-------- */

/* for the image slider */
.carousel-item{
    height:100vh;
    color:white;
}

.carousel-caption{
    position: absolute;
    top :200px;
    font-weight:bold;
}

.carousel-caption .btn .btn-light:hover{
    background:red;
    color:white;
}
/*------- lessons/ rentals-------- */

.row {
    margin-top: 50px; 
    
}
.row .col-md-4{
    padding: 40px;
}

.row .col-md-4 .card-body{
    text-align: center;
    background-color:#f4f8fa;
    
}
.row .col-md-4 .card-body:hover{
    cursor: pointer;
    background-color:#f4f8fa;
    
    box-shadow: 10px 10px 5px grey;
}
.row .col-md-4 .p-3 .font-weight-medium {

    font-weight: 500;

}.row .col-md-4 .p-3 .subtitle{
    color: #8d97ad;
    line-height: 24px;
}

.row .col-md-4 .p-3 .list-inline{
    text-align: justify;
    font-size: 14px;
}

.row .col-md-4 .p-3 .list-inline .py-1 .fa-check-circle{

    color: #ff0000; 
}

.row .col-md-4 .p-3 .pricing .price{
    color: black;
    font-size: 12px;
}

/* ----------------CONTACTS FORM---------------- */

#contacts{
    /* font-family: 'Courier New', Courier, monospace; */
    font-weight: bold;
    background-image:url("images/skill.jpg");
}

#contacts .row {
    margin-left: 100px;
}



/*-------------------MEDIA QUERIES----------------*/
@media only screen and (max-width: 768px){

    .navbar{
        font-size: small;
    }
    
    /* ---------slider-----------*/
    

    .carousel-caption{
        position: absolute;
        font-weight:bold;
    }

    .carousel-caption h1{
        font-size: small;
    }

    .carousel-caption h3{
        font-size: small;
    }

    .carousel-caption a {
        font-size: small;
    }
    
    /*------- contact form-------- */
    #contacts{
        font-size: small;
    }

    #contacts .row{
        margin: 0px 10px 0px 10px;
    }
}

@media only screen and (max-width: 480px){
    
}
 