 /*
 this is a bad habit, its just for us to see the color codes.
    color codes

    white:#ffffff;
    blood-red:#d71d1d;
    bright-red: #ff0000;
    dark-red:#BF0000;
    black:#000000;
    grey:#ebebeb;
 */

.wrap{
     /* makes sure all the content stays in the browser window */
    overflow-x: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #505962;

}

/* ------NAVBAR------ */
.navbar {
    text-transform: uppercase;
    font-weight:bold;
    font-size:.9rem;
    letter-spacing: .1rem;
    /* emphasis the transparency */
     /* background:rgba(0,0,0,.6)!important;  */
}


/* for the image */
.navbar-brand img {
    height: 2rem;
}

/* for the unorderd list */
/* .navbar-nav li{
    padding-right: 7rem;
} */

/* overrides the link colors */

.navbar-dark .navbar-nav .nav-link{
    color: white;
    padding-top: .8em;
}

.navbar-dark .navbar-nav .nav-link.active
{ 
    color:#ffffff;
}

.navbar-dark .navbar-nav .nav-link:hover{
    color: tomato;
}


/*--------SLIDER-------- */

/* for the image slider */
.carousel-item{
    height:100vh;
    color:white;
}

.carousel-caption{
    position: absolute;
    top :200px;
    font-weight:bold;
}

.carousel-caption .btn .btn-light:hover{
    background:red;
    color:white;
}
/*------- lessons/ rentals-------- */

.row {
    margin-top: 50px; 
    
}
.row .col-md-4{
    padding: 40px;
}

.row .col-md-4 .card-body{
    text-align: center;
    background-color:#f4f8fa;
    
}
.row .col-md-4 .card-body:hover{
    cursor: pointer;
    background-color:#f4f8fa;
    
    box-shadow: 10px 10px 5px grey;
}
.row .col-md-4 .p-3 .font-weight-medium {

    font-weight: 500;

}.row .col-md-4 .p-3 .subtitle{
    color: #8d97ad;
    line-height: 24px;
}

.list-inline{
    
    text-align: center;
    font-size: 14px;
}
.fa-check-circle{
    color: red;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    
    border: 1px solid #888;
    width: 80%;
    animation-name: modalopen;
    animation-duration: 1s;

}
.modal-header h5{
    margin: 0;
}
.modal-header{
    background-color: red;
    padding: 20px;
    color: white;
}
.modal-body{
    padding: 10px 20px;
}
.myBtn_multi:hover{
    color: red;
    cursor: pointer;
}
.btn:hover{
    color: red;
    cursor: pointer;
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

@keyframes modalopen{
    from{opacity: 0;}
    to{opacity: 1;}
}

/* ----------------CONTACTS FORM---------------- */

#contacts{
    /* font-family: 'Courier New', Courier, monospace; */
    font-weight: bold;
}

#contacts .row {
    margin-left: 100px;
}

/*-------------------MEDIA QUERIES----------------*/
@media only screen and (max-width: 768px){

    .navbar{
        font-size: small;
    }
    
    /* ---------slider-----------*/
    

    .carousel-caption{
        position: absolute;
        font-weight:bold;
    }

    .carousel-caption h1{
        font-size: small;
    }

    .carousel-caption h3{
        font-size: small;
    }

    .carousel-caption a {
        font-size: small;
    }
    
    /*------- contact form-------- */
    #contacts{
        font-size: small;
    }

    #contacts .row{
        margin: 0px 10px 0px 10px;
    }
}

@media only screen and (max-width: 480px){
    
}
 