 /*
 this is a bad habit, its just for us to see the color codes.
    color codes

    white:#ffffff;
    blood-red:#d71d1d;
    bright-red: #ff0000;
    dark-red:#BF0000;
    black:#000000;
    grey:#ebebeb;
 */

.wrap{
     /* makes sure all the content stays in the browser window */
    overflow-x: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #505962;
    
}

#lessons,#todays-weather,#contacts,#location{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* ------NAVBAR------ */
.navbar {
    text-transform: uppercase;
    font-weight:bold;
    font-size:.9rem;
    letter-spacing: .1rem;
    /* emphasis the transparency */
     /* background:rgba(0,0,0,.6)!important;  */
}

/* for the image */
.navbar-brand img {
    height: 2rem;
    width: 150px;
}

/* for the unorderd list */
/* .navbar-nav li{
    padding-right: 7rem;
} */

/* overrides the link colors */

.navbar-dark .navbar-nav .nav-link{
    color: white;
    padding-top: .8em;
}

.navbar-dark .navbar-nav .nav-link.active
{ 
    color:#ffffff;
}

.navbar-dark .navbar-nav .nav-link:hover{
    color: tomato;
}


/*--------SLIDER-------- */

/* for the image slider */
.carousel-item{
    height:100vh;
    color:white;
}

.carousel-caption{
    position: absolute;
    top :200px;
    font-weight:bold;
}

.carousel-caption .btn .btn-light:hover{
    background:red;
    color:white;
}

/*------- lessons/ rentals-------- */

/*------- end of lessons/ rentals-------- */


/* ----------------CONTACTS FORM---------------- */

/* ----------------END OF CONTACTS FORM SECTION---------------- */


/* ----------------lOCATION SECTION---------------- */
#location{
    background-image: url('image/one-mzungu.jpg');  
}
/* ----------------END OF LOCATION SECTION---------------- */

/*-------------------MEDIA QUERIES----------------*/
