 /*
 this is a bad habit, its just for us to see the color codes.
    color codes

    white:#ffffff;
    blood-red:#d71d1d;
    bright-red: #ff0000;
    dark-red:#BF0000;
    black:#000000;
    grey:#ebebeb;
 */

.wrap{
     /* makes sure all the content stays in the browser window */
    overflow-x: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #505962;
    
}



/* ------NAVBAR------ */
.navbar {
    text-transform: uppercase;
    font-weight:bold;
    font-size:.9rem;
    letter-spacing: .1rem;
    /* emphasis the transparency */
     /* background:rgba(0,0,0,.6)!important;  */
}

/* for the image */
.navbar-brand img {
    height: 2rem;
    width: 150px;
}

/* for the unorderd list */
/* .navbar-nav li{
    padding-right: 7rem;
} */

/* overrides the link colors */

.navbar-dark .navbar-nav .nav-link{
    color: white;
    padding-top: .8em;
}

.navbar-dark .navbar-nav .nav-link.active
{ 
    color:#ffffff;
}

.navbar-dark .navbar-nav .nav-link:hover{
    color: tomato;
}


/*--------SLIDER-------- */

/* for the image slider */
.carousel-item{
    height:100vh;
    color:white;
}

.carousel-caption{
    position: absolute;
    top :200px;
    font-weight:bold;
}

.carousel-caption .btn .btn-light:hover{
    background:red;
    color:white;
}

/* --------------------- */
#about,#contacts,#footer{
    position: relative;
    background-attachment: fixed;  
}

/*-------LESSONS/RENTALS-------- */
.row {
    margin-top: 50px;
 
 }
 .row .col-md-4{
    padding: 40px;
 }
 
 .row .col-md-4 .card-body{
    text-align: center;
    background-color:#f4f8fa;
 
 }
 .row .col-md-4 .card-body:hover{
    cursor: pointer;
    background-color:#f4f8fa;
 
    box-shadow: 10px 10px 5px grey;
 }
 .row .col-md-4 .p-3 .font-weight-medium {
 
    font-weight: 500;
 
 }.row .col-md-4 .p-3 .subtitle{
    color: #8d97ad;
    line-height: 24px;
 }
 
 .row .col-md-4 .p-3 .list-inline{
    text-align: justify;
    font-size: 14px;
 }
 
 .row .col-md-4 .p-3 .list-inline .py-1 .fa-check-circle{
 
    color: #ff0000;
 }
 
 .row .col-md-4 .p-3 .pricing .price{
    color: black;
    font-size: 12px;
 }
 
/*------- END OF LESSONS/RENTALS------- */


/*------------ABOUT SECTION---------*/
#about{
    background-image: url("../images/two-mzungu.jpg"); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-attachment: fixed;  
    height: 600px;
    color: white;
    position: relative;
    padding-top: 50px;
    
  }

  #about h3{
    text-align: center;
  }
/*------------END OF ABOUT SECTION---------*/


/*------------WEATHER SECTION---------*/
#todays-weather{
    height: 600px;
    text-align: center;
    text-transform: capitalize;
    font-size: 30px;
    font-weight: bold;
    font-style: oblique;
}

#todays-weather p{
    padding-top: 20px;
}
/*------------END OF WEATHER SECTION---------*/


/*----------------CONTACTS FORM---------------- */
  #contacts{
    /* font-family: 'Courier New', Courier, monospace; */
    background-image: url("../images/coral-mzungu.jpg"); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-attachment: fixed;  
    font-weight: bold;
    height: 800px;
    min-height: 100%;
    padding: 30px;
    color:white;

 }
 
 #contacts .row {
    margin-left: 100px;
 }

 #contacts .mb-4 .row .col-md-9 #contact-form .col-md-6 .md-form #name{
     height: 50px;
     border: none;
 }

 #contacts .mb-4 .row .col-md-9 #contact-form .col-md-6 .md-form #email{
    height: 50px;
    border: none;
}

#contacts .mb-4 .row .col-md-9 #contact-form .col-md-12 .md-form #subject{
    height: 50px;
    border: none;
}

 #contacts .col-md-9 .row .col-md-12 .md-form #message{
    height: 120px; 
 }

#contacts .col-md-9 .row .col-md-12 .btn-primary{
    margin-top: 20px;
}
 
/*----------------END OF CONTACTS FORM---------------- */


/* ----------------GEOlOCATION SECTION---------------- */
 #googleMap{
    width:100%;
    height:600px;
}
/* ----------------END OF GEOLOCATION SECTION---------------- */


/*------------FOOTER SECTION---------*/
#footer{
    background-color:#343a40;
    color: white;
    height: 60px;
    text-align: center;
  }
#footer .row .col-md-12{
    margin-top: auto;
}

 #footer #footer-text{
    position: relative;
    text-align: center;
    font-weight: bold;
    color: #ffffff;
  }

.footer-copyright{
    background-color:black;
    height: 60px;
}

 .footer-copyright p{
    font-size: small;
    padding-top: 20px;
    text-align: center;

}

/*------------END OF FOOTER SECTION---------*/


/*-------------------MEDIA QUERIES----------------*/
@media only screen and (max-width: 768px){

    .navbar{
        font-size: small;
    }
 
    /* ---------slider-----------*/
 
 
    .carousel-caption{
        position: absolute;
        font-weight:bold;
    }
 
    .carousel-caption h1{
        font-size: small;
    }
 
    .carousel-caption h3{
        font-size: small;
    }
 
    .carousel-caption a {
        font-size: small;
    }
 
    /*------- contact form-------- */
    #contacts{
        font-size: small;
    }
 
    #contacts .row{
        margin: 0px 10px 0px 10px;
    }
 }
 
 @media only screen and (max-width: 480px){
 
 }
 